<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <h6 class="text-muted">Sales / Pending Orders</h6>
        <div class="nav-align-top mt-5">
          <ul class="nav nav-pills mb-4" role="tablist">
            <li class="nav-item">
              <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-receive-stock" aria-controls="navs-pills-top-receive-stock" aria-selected="true">Clients List</button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-records" aria-controls="navs-pills-top-records" aria-selected="false">Add New Client</button>
            </li>
          </ul>
          <div class="tab-content">
            <!-- Pending Orders Tab -->
            <div class="tab-pane fade show active" id="navs-pills-top-receive-stock" role="tabpanel">
              <div>
                <h5>Pending Orders</h5>
                <div class="alert alert-danger" style="max-width: 400px; margin-left: 24px;" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
                  <span>{{ apiResponse.errorMessage }}</span>
                  <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="apiResponse && apiResponse.isSuccessful && isEmpty ">
                  <div class="text-center">
                    <img
                      src="../assets/img/illustrations/empty.png"
                      height="300"
                      alt="View Badge User"/>
                    <h5>No Content Found</h5>
                    <p><span class="mb-4">We could not find any information to show on this page</span></p>
                    <p></p>
                  </div>
                </div>
                <!-- <div class="table-responsive text-nowrap" *ngIf="!isFetchingData && !isEmpty"> -->
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date Created</th>
                        <th>Customer</th>
                        <th>Phone Number</th>
                        <th>Type</th>
                        <th>Sales Orders</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData && !isEmpty">
                    <ul class="pagination justify-content-end">
                      <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
                        <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
                      </li>
                      <li class="page-item prev" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
                        <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
                      </li>
                      <!-- API indexing starts at zero -->
                      <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
                        <a class="page-link"> {{ page }} </a>
                      </li>
                      <li class="page-item next" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
                        <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
                      </li>
                      <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
                        <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-top-records" role="tabpanel">

              <!-- Create Orders -->
              <div class="row">
                <!-- Menu Options -->
                <div class="col-md-4 mb-5">
                  <div class="card shadow-none bg-transparent border border-secondary ms-5 mt-12 mb-12">
                    <div class="card-body">
                      <h5 class="card-title">Agent / Farmer Clients</h5>
                      <p class="card-text">Create new <b>AGENTS</b> or <b>FARMERS</b> that are part of ZIMAKU's clients</p>
                      <div class="text-end">
                        <a href="javascript:void(0)" class="btn btn-secondary mt-5" (click)="clientTypeSelected(ZIMAKU_CLIENT)">Create Client</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card shadow-none bg-transparent border border-secondary ms-5 mt-12 mb-5">
                    <div class="card-body">
                      <h5 class="card-title">Walk-in Clients</h5>
                      <p class="card-text">Create a list of <b>Walk-in</b> clients that are regular customers of the business </p>
                      <div class="text-end">
                        <a href="javascript:void(0)" class="btn btn-secondary mt-5" (click)="clientTypeSelected(WALKIN_CLIENT)">Create Walk-in Client</a>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Vertical Line -->
                <div class="col-md-1 mt-12 mb-12">
                    <div class="d-flex align-items-start" style="height: 100%;">
                    <span class="border-start border-2" style="height: calc(100% + 16px); margin-left: 20px;"></span>
                    </div>
                </div>

                @if (clientType == ZIMAKU_CLIENT) {
                  <!-- Agent/Farmer Orders Form-->
                  <div class="col-xl-6 mt-12">
                    <form #saveZimakuClient="ngForm" (onSubmit)="onSubmitZimakuClient(saveZimakuClient)">
                      <div class="mb-6">
                        <h5 class="">New Agent / Farmer Client</h5>
                        <div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">First Name</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              type="tel" 
                              placeholder="John" 
                              id="html5-tel-input"
                              ngModel
                              #firstName="ngModel"
                              required />
                              <span class="form-validation-message" *ngIf="firstName.invalid && firstName.touched">Please provide a valid firstName</span>
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">Surname</label>
                            <div class="col-md-9">
                              <input class="form-control" type="tel" placeholder="Doe" id="html5-tel-input" />
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">Phone</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              type="tel" 
                              placeholder="0777 432 655" 
                              id="html5-tel-input"
                              ngModel
                              #phoneNumber="ngModel"
                              required />
                              <span class="form-validation-message" *ngIf="phoneNumber.invalid && phoneNumber.touched">Please provide a valid address</span>
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">Address</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              type="tel" 
                              placeholder="Client Address" 
                              id="html5-tel-input"
                              ngModel
                              #address="ngModel"
                              required/>
                              <span class="form-validation-message" *ngIf="address.invalid && address.touched">Please provide a valid address</span>
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-time-input" class="col-md-3 col-form-label">Client Type ?</label>
                            <div class="col-md-9">
                                <div class="form-check form-check-inline mt-3" *ngFor="let clientType of clientTypesList">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="clientType"
                                    id="agentOption"
                                    ngModel
                                    #clientType="ngModel"
                                    required
                                    [value]="clientType"/>
                                  <label class="form-check-label" for="inlineRadio1">{{ clientType }}</label>
                                </div>
                            </div>
                          </div>
                          <div class="text-end">
                            <button
                            class="btn btn-primary mt-5" 
                            type="submit"
                            [disabled]="!saveZimakuClient.valid">Save Client</button>
                            <div class="spinner-border text-primary mt-5" *ngIf="isLoading" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        </div>
                      </div>
                    </form>
                  </div>
                }
                @else if (clientType == WALKIN_CLIENT) {
                  <!-- Walk-in Client Orders Form -->
                  <div class="col-xl-6 mt-12">
                    <form #saveWalkInClient = "ngForm" (ngSubmit)="onSubmitWalkInClient(saveWalkInClient)">
                      <div class="mb-6">
                        <h5 class="">New Walk-in Client</h5>
                        <div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">First Name</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              placeholder="John"
                              id="html5-tel-input"
                              ngModel
                              name="firstName"
                              #firstName="ngModel"
                              required />
                              <span class="form-validation-message" *ngIf="firstName.invalid && firstName.touched">Please provide a Valid firstName</span>
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">Surname</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              placeholder="Doe" 
                              ngModel
                              name="lastName"
                              #lastName="ngModel"
                              id="html5-tel-input" />
                            </div>
                          </div>
                          <div class="mb-4 row">
                            <label for="html5-tel-input" class="col-md-3 col-form-label">Phone</label>
                            <div class="col-md-9">
                              <input 
                              class="form-control" 
                              placeholder="0000 000 000" 
                              ngModel
                              name="phoneNumber"
                              #phoneNumber="ngModel"
                              required
                              id="html5-tel-input" />
                              <span class="form-validation-message" *ngIf="phoneNumber.invalid && phoneNumber.touched">Please provide a Valid email</span>
                            </div>
                          </div>
                          <div class="text-end">
                              <button
                              class="btn btn-primary mt-5" 
                              type="submit"
                              [disabled]="!saveWalkInClient.valid" *ngIf="!isLoading">Save Client</button>
                              <div class="spinner-border text-primary mt-5" *ngIf="isLoading" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                }
                @else{
                  <div class="col-xl-6 mt-12">
                    <div class="text-center">
                      <img
                        src="../assets/img/illustrations/clients.png"
                        height="300"
                        alt="View Badge User"/>
                        <h5 class="mt-4">Select Client Type</h5>
                        <p><span class="mb-4">To get started select an client type to capture</span></p>
                      <p></p>
                    </div>
                  </div>
                }

                </div>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>