<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl">
              <div class="card mb-6">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Update My Details</h5>
                    <small class="text-muted float-end">Merged input group</small>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-fullname">First Name</label>
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            class="form-control"
                            id="basic-icon-default-fullname"
                            placeholder="John Doe"
                            aria-label="John Doe"
                            aria-describedby="basic-icon-default-fullname2" />
                        </div>
                      </div>
                      <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-company">Last Name</label>
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            id="basic-icon-default-company"
                            class="form-control"
                            placeholder="ACME Inc."
                            aria-label="ACME Inc."
                            aria-describedby="basic-icon-default-company2" />
                        </div>
                      </div>
                      <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-email">Email</label>
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            id="basic-icon-default-email"
                            class="form-control"
                            placeholder="john.doe"
                            aria-label="john.doe"
                            aria-describedby="basic-icon-default-email2" />
                          <span id="basic-icon-default-email2" class="input-group-text"></span>
                        </div>
                      </div>
                      <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-phone">Phone Number</label>
                        <div class="input-group input-group-merge">
                          <input
                            type="text"
                            id="basic-icon-default-phone"
                            class="form-control phone-mask"
                            placeholder="658 799 8941"
                            aria-label="658 799 8941"
                            aria-describedby="basic-icon-default-phone2" />
                        </div>
                      </div>
                      <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-message">Address</label>
                        <div class="input-group input-group-merge">
                          <textarea
                            id="basic-icon-default-message"
                            class="form-control"
                            placeholder="Your Address"
                            aria-label="Your address"
                            aria-describedby="basic-icon-default-message2"></textarea>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                  </div>
              </div>
            </div>
            <div class="col-xl">
              <div class="card mb-6">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">Update Password</h5>
                  <small class="text-muted float-end">Merged input group</small>
                </div>
                <div class="card-body">
                  <form>
                    
                    <div class="mb-6">
                        <div class="form-password-toggle">
                            <label class="form-label" for="basic-default-password32">Old Password</label>
                            <div class="input-group input-group-merge">
                                <input
                                type="password"
                                class="form-control"
                                id="basic-default-password32"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="basic-default-password" />
                                <span class="input-group-text cursor-pointer" id="basic-default-password"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-password-toggle">
                            <label class="form-label" for="basic-default-password32">New Password</label>
                            <div class="input-group input-group-merge">
                                <input
                                type="password"
                                class="form-control"
                                id="basic-default-password32"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="basic-default-password" />
                                <span class="input-group-text cursor-pointer" id="basic-default-password"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-password-toggle">
                            <label class="form-label" for="basic-default-password32">Re-Type New Password</label>
                            <div class="input-group input-group-merge">
                                <input
                                type="password"
                                class="form-control"
                                id="basic-default-password32"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="basic-default-password" />
                                <span class="input-group-text cursor-pointer" id="basic-default-password"
                                ><i class="bx bx-hide"></i
                                ></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                    
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


