<div class="card">
  <h5 class="card-header">Dispatch Stock</h5>
  <div class="alert alert-danger" style="max-width: 400px; margin-left: 24px;" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
    <span>{{ apiResponse.errorMessage }}</span>
    <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
  </div>
  <div class="d-flex justify-content-center align-items-center" *ngIf="apiResponse && apiResponse.isSuccessful && isEmpty ">
    <div class="text-center">
      <img
        src="../assets/img/illustrations/empty.png"
        height="300"
        alt="View Badge User"/>
      <h5>No Content Found</h5>
      <p><span class="mb-4">We could not find any information to show on this page</span></p>
      <p></p>
    </div>
  </div>
  <div class="table-responsive text-nowrap" *ngIf="!isFetchingData && !isEmpty">
    <table class="table">
      <thead>
        <tr>
          <th>Batch</th>
          <th>Quantity</th>
          <th>Stock Received</th>
          <th>Age</th>
          <th>Dispatch</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0" *ngIf="eggsResponseModel != undefined">
        <tr *ngFor="let eggs of eggsResponseModel.eggs">
          <td><span class="ms-5">{{ eggs.batchNumber }}</span></td>
          <td><span class="ms-5">{{ eggs.quantity }}</span></td>
          <td><span>{{ eggs.date }}</span></td>
          <td><span class="badge rounded-pill bg-label-primary">{{ eggs.age }}</span></td>
          <td><button type="button" class="btn btn-sm btn-secondary" (click)="onEggsModelSelected(eggs)" [disabled]="isFetchingData" data-bs-toggle="modal" data-bs-target="#dispatchStockModal" >Dispatch</button></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData && !isEmpty">
      <ul class="pagination justify-content-end">
        <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
          <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
        </li>
        <li class="page-item prev" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
          <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
        </li>
        <!-- API indexing starts at zero -->
        <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
          <a class="page-link"> {{ page }} </a>
        </li>
        <!-- <li class="page-item active">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li> -->
        <li class="page-item next" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
          <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
        </li>
        <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
          <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Confirm Stock Dispatch -->
<div class="modal fade" id="dispatchStockModal" aria-labelledby="dispatchStockModalLabel" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dispatchStockModalLabel">Stock Dispatch Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="activeEggsModel != undefined" class="modal-body ms-5">
        <p> Batch Number: {{ activeEggsModel.batchNumber }}</p>
        <p> Quantity: {{ activeEggsModel.quantity }}</p>
        <span> Age: {{ activeEggsModel.age }}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-5" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="onDispatch()"  data-bs-dismiss="modal" data-bs-dismiss="modal">Dispatch</button>
      </div>
    </div>
  </div>
</div>