<!-- Hoverable Table rows -->
<div class="card">
    <h5 class="card-header">Eggs</h5>
    <div class="alert alert-danger" style="max-width: 400px; margin-left: 24px;" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
      <span>{{ apiResponse.errorMessage }}</span>
      <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="apiResponse && apiResponse.isSuccessful && isEmpty ">
      <div class="text-center">
        <img
          src="../assets/img/illustrations/empty.png"
          height="300"
          alt="View Badge User"/>
        <h5>No Content Found</h5>
        <p><span class="mb-4">We could not find any information to show on this page</span></p>
        <p></p>
      </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover" *ngIf="!isFetchingData && !isEmpty">
        <thead class="table-dark">
          <tr>
            <th>Eggs In Stock: {{ totalEggsNotDispatched }}</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Added</th>
            <th>Collected</th>
            <th>Hatchable</th>
            <th>Rejects</th>
            <th>Batch</th>
            <th>Age</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let eggs of eggsResponseModel.eggs">
            <td>{{ eggs.date }}</td>
            <td class="text-center">{{ eggs.quantity }}</td>
            <td class="text-center">{{ eggs.hatchable }}</td>
            <td class="text-center">{{ eggs.rejects }}</td>
            <td class="text-center">{{ eggs.batchNumber }}</td>
            <td class="text-center">
              <span *ngIf="!eggs.dispatched; else dispatchedBadge" class="badge rounded-pill bg-label-primary">{{ eggs.age }}</span>
              <ng-template #dispatchedBadge>
                <span class="badge rounded-pill bg-label-danger">Dispatched</span>
              </ng-template>
            </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateRecordModal" (click)="onSetActiveEggsModel(eggs)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteRecordModal" (click)="onSetActiveEggsModel(eggs)"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData && !isEmpty">
        <ul class="pagination justify-content-end">
          <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
            <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
          </li>
          <li class="page-item prev" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
            <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
          </li>
          <!-- API indexing starts at zero -->
          <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
            <a class="page-link"> {{ page }} </a>
          </li>
          <!-- <li class="page-item active">
            <a class="page-link" href="javascript:void(0);">3</a>
          </li> -->
          <li class="page-item next" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
            <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
          </li>
          <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
            <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
          </li>
        </ul>
      </nav>
    </div>
</div>
<!--/ Hoverable Table rows -->

<!-- Edit Modal -->
<div class="modal fade" id="updateRecordModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Edit Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addEggsForm="ngForm" (ngSubmit)="onEdit(addEggsForm)">
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-fullname">Total Eggs Collected</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="activeEggsModel.quantity"
                ngModel
                #quantity="ngModel"
                name="quantity"
                required
                type="number"
                id="basic-icon-default-fullname"
                placeholder="Total Eggs Collected"
                aria-label="Total Eggs Collected"
                aria-describedby="basic-icon-default-fullname2" />
            </div>
            <span class="form-validation-message" *ngIf="quantity.invalid && quantity.touched">Please provide number of eggs collected</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-company">Total Hatchable</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-company"
                [(ngModel)]="activeEggsModel.hatchable"
                ngModel
                #hatchable="ngModel"
                required
                name="hatchable"
                type="number"
                class="form-control"
                placeholder="Total Hatchable"
                aria-label="Total Hatchable"
                aria-describedby="basic-icon-default-company2" />
            </div>
            <span class="form-validation-message" *ngIf="hatchable.invalid && hatchable.touched">Please provide number of total hatchable eggs</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-email">Total None-Hatchable</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-email"
                class="form-control"
                [(ngModel)]="activeEggsModel.rejects"
                ngModel
                #rejects="ngModel"
                name="rejects"
                required
                placeholder="Total None-Hatchable"
                aria-label="Total None-Hatchable"
                aria-describedby="basic-icon-default-email2" />
              <span id="basic-icon-default-email2" class="input-group-text"></span>
            </div>
            <span class="form-validation-message" *ngIf="rejects.invalid && rejects.touched">Please provide number of rejects</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-phone">Source Batch</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                ngModel
                #batchNumber="ngModel"
                [(ngModel)]="activeEggsModel.batchNumber"
                name="batchNumber"
                required
                placeholder="Source Batch"
                aria-label="Source Batch"
                aria-describedby="basic-icon-default-phone2" />
            </div>
            <span class="form-validation-message" *ngIf="batchNumber.invalid && batchNumber.touched">Please provide batch number</span>
          </div>
          <div class="col text-center" *ngIf="!isFetchingData">
            <button type="submit" class="btn btn-primary justify-content-center" [disabled]="!addEggsForm.valid" data-bs-dismiss="modal">Save</button>
          </div>
          <div class="d-flex justify-content-center" *ngIf="isFetchingData">
            <div class="spinner-border text-primary " role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteRecordModal" tabindex="-1" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteRecordModalLabel">Delete Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
      </div>
      <div class="modal-body">
        <p> Are you sure you would like to delete this Record ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-5" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onDelete()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>