<input class="form-control mb-5" type="search" id="html5-search-input" placeholder="Search client using firstname or lastname" />
<span class="mt-5">* Click on a name to select the Agent/Farmer</span>
<div class="list-group mt-5">
    <a href="#" class="list-group-item list-group-item-action">
    <span>John Doe</span>
    <span class="badge rounded-pill bg-label-primary ms-5">FARMER</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <span>John Doe</span>
    <span class="badge rounded-pill bg-label-info ms-5">FARMER</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <span>John Doe</span>
    <span class="badge rounded-pill bg-label-info ms-5">AGENT</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <span>John Doe</span>
    <span class="badge rounded-pill bg-label-info ms-5">AGENT</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
    <span>John Doe</span>
    <span class="badge rounded-pill bg-label-info ms-5">AGENT</span>
    </a>
</div>
<hr>
<div class="mt-auto mt-3 d-flex justify-content-center">
    <button type="button" class="btn rounded-pill btn-outline-secondary btn-sm">Create New Agent/Farmer</button>
</div>
