<div class="card">
  <h5 class="card-header">Dispatch Records</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Dispatched</th>
          <th>Batch</th>
          <th>Quantity</th>
          <th>Stock Received</th>
          <th>Age on Dispatch</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr>
          <td><span>--/--/----</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span>--/--/----</span></td>
          <td><span class="badge rounded-pill bg-label-primary">7 wks 3d</span></td>
        </tr>
        <tr>
          <td><span>--/--/----</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span>--/--/----</span></td>
          <td><span class="badge rounded-pill bg-label-primary">7 wks 3d</span></td>
        </tr>
        <tr>
          <td><span>--/--/----</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span>--/--/----</span></td>
          <td><span class="badge rounded-pill bg-label-primary">7 wks 3d</span></td>
        </tr>
        <tr>
          <td><span>--/--/----</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span class="ms-5">2</span></td>
          <td><span>--/--/----</span></td>
          <td><span class="badge rounded-pill bg-label-primary">7 wks 3d</span></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation" class="mt-5 me-5 p-4">
      <ul class="pagination justify-content-end">
        <li class="page-item first">
          <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
        </li>
        <li class="page-item prev">
          <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
        </li>
        <!-- API indexing starts at zero -->
        <li class="page-item">
          <a class="page-link"> 1 </a>
        </li>
        <!-- <li class="page-item active">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li> -->
        <li class="page-item next">
          <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
        </li>
        <li class="page-item last">
          <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>