<h5>Users List</h5>
<div class="table-responsive text-nowrap">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Contact</th>
            <th>Department</th>
            <th>Status</th>
            <th>User Type</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        <tr (click)="onClickUser(user.id)" *ngFor="let user of usersList">
            <td><span>{{ user.firstName }} {{ user.lastName}}</span></td>
            <td><span>{{ user.email }}</span></td>
            <td><span>{{ user.phoneNumber }}</span></td>
            <td>{{ user.department }}</td>
            <td><span class="badge bg-label-primary me-1"><strong>{{ user.active }}</strong></span></td>
            <td>{{ getRoles(user) }}</td>
        </tr>
    </tbody>
    </table>
    <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData && !isEmpty">
        <ul class="pagination justify-content-end">
          <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
            <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
          </li>
          <li class="page-item prev" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
            <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
          </li>
          <!-- API indexing starts at zero -->
          <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
            <a class="page-link"> {{ page }} </a>
          </li>
          <li class="page-item next" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
            <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
          </li>
          <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
            <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
          </li>
        </ul>
      </nav>
</div>