
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">New Parent Stock</h5>
        <small class="text-muted float-end">new parent stock</small>
      </div>
      <div class="card-body">
        <div class="alert alert-danger" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
          <span>{{ apiResponse.errorMessage }}</span>
          <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
        </div>
        <form #addParentStockForm = "ngForm" (ngSubmit)="onSubmit()" >
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-report">Total Males</label>
            <div class="input-group input-group-merge">
              <input
                class="form-control"
                ngModel
                name="males"
                required
                type="number"
                placeholder="Total Males"
                aria-label="John Doe"
                #males="ngModel"
                aria-describedby="basic-icon-default-fullname2" />
            </div>
            <span class="form-validation-message" *ngIf="males.invalid && males.touched">Please provide a number for males</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-report">Total Females</label>
            <div class="input-group input-group-merge">
              <input
                ngModel
                name="females"
                #females="ngModel"
                required
                type="number"
                class="form-control"
                placeholder="Total Females"
                aria-describedby="basic-icon-default-company2" />
            </div>
            <span class="form-validation-message" *ngIf="females.invalid && females.touched">Please provide a number of females</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-report">Total Fatalities</label>
            <div class="input-group input-group-merge">
              <input
                type="number"
                ngModel
                name="fatalities"
                #fatalities="ngModel"
                class="form-control"
                placeholder="Total Fatalities"
                required
                aria-describedby="basic-icon-default-email2" />
              <span id="basic-icon-default-email2" class="input-group-text"></span>
            </div>
            <span class="form-validation-message" *ngIf="fatalities.invalid && fatalities.touched">Please provide a number of fatalities</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-report">Batch Number</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-phone"
                class="form-control phone-mask"
                ngModel
                name="batch"
                #batch="ngModel"
                required
                placeholder="Batch Number"
                aria-describedby="basic-icon-default-phone2" />
            </div>
            <span class="form-validation-message" *ngIf="females.invalid && females.touched">Please provide a batch number</span>
          </div>
          <div class="col text-center" *ngIf="!isLoading">
            <button type="submit" class="btn btn-primary justify-content-center" [disabled]="!addParentStockForm.valid">Save</button>
          </div>
          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border text-primary " role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>