<div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Eggs Collected</h5>
        <small class="text-muted float-end">egg collection details</small>
      </div>
      <div class="alert alert-danger ms-5 me-5" style="max-width: 400px; margin-left: 24px;" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
        <span>{{ apiResponse.errorMessage }}</span>
        <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
      </div>
      <div class="card-body">
        <form #addEggsForm="ngForm" (ngSubmit)="onSubmit(addEggsForm)">
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-fullname">Total Eggs Collected</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                class="form-control"
                ngModel
                #quantity="ngModel"
                name="quantity"
                required
                type="number"
                id="basic-icon-default-fullname"
                placeholder="Total Eggs Collected"
                aria-label="Total Eggs Collected"
                aria-describedby="basic-icon-default-fullname2" />
            </div>
            <span class="form-validation-message" *ngIf="quantity.invalid && quantity.touched">Please provide number of eggs collected</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-company">Total Hatchable</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-company"
                ngModel
                #hatchable="ngModel"
                required
                name="hatchable"
                type="number"
                class="form-control"
                placeholder="Total Hatchable"
                aria-label="Total Hatchable"
                aria-describedby="basic-icon-default-company2" />
            </div>
            <span class="form-validation-message" *ngIf="hatchable.invalid && hatchable.touched">Please provide number of total hatchable eggs</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-email">Total Rejects</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-email"
                class="form-control"
                ngModel
                #rejects="ngModel"
                name="rejects"
                required
                placeholder="Total Rejects"
                aria-label="Total Rejects"
                aria-describedby="basic-icon-default-email2" />
              <span id="basic-icon-default-email2" class="input-group-text"></span>
            </div>
            <span class="form-validation-message" *ngIf="rejects.invalid && rejects.touched">Please provide number of rejects</span>
          </div>
          <div class="mb-6">
            <label class="form-label" for="basic-icon-default-phone">Source Batch</label>
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="basic-icon-default-phone"
                
                class="form-control phone-mask"
                ngModel
                #batchNumber="ngModel"
                name="batchNumber"
                required
                placeholder="Source Batch"
                aria-label="Source Batch"
                aria-describedby="basic-icon-default-phone2" />
            </div>
            <span class="form-validation-message" *ngIf="batchNumber.invalid && batchNumber.touched">Please provide batch number</span>
          </div>
          <div class="col text-center" *ngIf="!isLoading">
            <button type="submit" class="btn btn-primary justify-content-center" [disabled]="!addEggsForm.valid">Save</button>
          </div>
          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border text-primary " role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
