<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <h6 class="text-muted">Sales / Pending Orders</h6>
        <div class="nav-align-top mt-5">
          <ul class="nav nav-pills mb-4" role="tablist">
            <li class="nav-item">
              <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-receive-stock" aria-controls="navs-pills-top-receive-stock" aria-selected="true">Sales Orders</button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-records" aria-controls="navs-pills-top-records" aria-selected="false">Create Sales Order</button>
            </li>
          </ul>
          <div class="tab-content">
            <!-- Pending Orders Tab -->
            <div class="tab-pane fade show active" id="navs-pills-top-receive-stock" role="tabpanel">
              <div>
                <h5>Pending Orders</h5>
                <div class="alert alert-danger" style="max-width: 400px; margin-left: 24px;" role="alert" *ngIf="apiResponse && !apiResponse.isSuccessful">
                  <span>{{ apiResponse.errorMessage }}</span>
                  <span *ngFor="let errorMessage of apiResponse.errorsList"><br> {{ "• " + errorMessage }}<br></span>
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="apiResponse && apiResponse.isSuccessful && isEmpty ">
                  <div class="text-center">
                    <img
                      src="../assets/img/illustrations/empty.png"
                      height="300"
                      alt="View Badge User"/>
                    <h5>No Content Found</h5>
                    <p><span class="mb-4">We could not find any information to show on this page</span></p>
                    <p></p>
                  </div>
                </div>
                <!-- <div class="table-responsive text-nowrap" *ngIf="!isFetchingData && !isEmpty"> -->
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Order Date</th>
                        <th>Customer</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Collected</th>
                        <th>Date of Collection</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <td><span>--/--/----</span></td>
                        <td><span class="ms-5">John Doe</span></td>
                        <td><span>23</span></td>
                        <td><span>$0.50 USD</span></td>
                        <td>
                          <span class="badge rounded-pill bg-label-primary ms-5">YES</span>
                          <button type="button" class="btn btn-icon me-2 btn-primary">
                            <span class="icon-base bx bx-pie-chart-alt"></span>
                          </button>
                        </td>
                        <td><span>--/--/----</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData && !isEmpty">
                    <ul class="pagination justify-content-end">
                      <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
                        <a class="page-link"><i class="bx bx-chevrons-left bx-sm"></i></a>
                      </li>
                      <li class="page-item prev" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
                        <a class="page-link"><i class="bx bx-chevron-left bx-sm"></i></a>
                      </li>
                      <!-- API indexing starts at zero -->
                      <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
                        <a class="page-link"> {{ page }} </a>
                      </li>
                      <li class="page-item next" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
                        <a class="page-link"><i class="bx bx-chevron-right bx-sm"></i></a>
                      </li>
                      <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
                        <a class="page-link"><i class="bx bx-chevrons-right bx-sm"></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-top-records" role="tabpanel">

              <!-- Create Orders -->
              <div class="row">
                <div class="col-md-4 mb-5">
                  <div class="card shadow-none bg-transparent border border-secondary ms-5 mt-12 mb-12">
                    <div class="card-body">
                      <h5 class="card-title">Agent / Farmer Orders</h5>
                      <p class="card-text">Create orders for <b>AGENTS</b> or <b>FARMERS</b> & record collection dates & order specifics</p>
                      <div class="text-end">
                        <a href="javascript:void(0)" class="btn btn-secondary mt-5">Create Order</a>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card shadow-none bg-transparent border border-secondary ms-5 mt-12 mb-5">
                    <div class="card-body">
                      <h5 class="card-title">Walk-in Clients Orders</h5>
                      <p class="card-text">Capture orders made by regular & occasional <b>Walk-in</b> clients</p>
                      <div class="text-end">
                        <a href="javascript:void(0)" class="btn btn-secondary mt-5">Create Order</a>
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- Vertical Line -->
                <div class="col-md-1 mt-12 mb-12">
                    <div class="d-flex align-items-start" style="height: 100%;">
                    <span class="border-start border-2" style="height: calc(100% + 16px); margin-left: 20px;"></span>
                    </div>
                </div>

                <div class="col-xl-6 mt-12">
                    <!-- HTML5 Inputs -->
                    <div class="mb-6">
                      <h5 class="">Agent / Farmer Order</h5>
                      <div>
                        <div class="mb-4 row">
                          <label for="html5-text-input" class="col-md-3 col-form-label">Name</label>
                          <div class="col-md-9">
                            <input class="form-control" type="text" value="sneat" id="html5-text-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-search-input" class="col-md-3 col-form-label">Address</label>
                          <div class="col-md-9">
                            <input class="form-control" type="search" value="Search ..." id="html5-search-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-email-input" class="col-md-3 col-form-label">Email</label>
                          <div class="col-md-9">
                            <input class="form-control" type="email" value="john@example.com" id="html5-email-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-tel-input" class="col-md-3 col-form-label">Phone</label>
                          <div class="col-md-9">
                            <input class="form-control" type="tel" value="90-(164)-188-556" id="html5-tel-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-password-input" class="col-md-3 col-form-label">Total Chicks</label>
                          <div class="col-md-9">
                            <input class="form-control" type="password" value="password" id="html5-password-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-date-input" class="col-md-3 col-form-label">Collection Date</label>
                          <div class="col-md-9">
                            <input class="form-control" type="date" value="2021-06-18" id="html5-date-input" />
                          </div>
                        </div>
                        <div class="mb-4 row">
                          <label for="html5-time-input" class="col-md-3 col-form-label">Payment Made ?</label>
                          <div class="col-md-9">
                            <div class="form-check form-check-inline mt-3">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="inlineRadioOptions"
                                  id="inlineRadio1"
                                  value="option1" />
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="inlineRadioOptions"
                                  id="inlineRadio2"
                                  value="option2" />
                                <label class="form-check-label" for="inlineRadio2">No</label>
                              </div>
                          </div>
                        </div>
                        <div class="text-end">
                            <a href="javascript:void(0)" class="btn btn-primary mt-5">Save Order</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              

            
          </div>
        </div>
      </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>